@charset "UTF-8";

* { 
  margin: 0; padding: 0;
  box-sizing: border-box;
}
header, main, section, aside, article, footer, nav, menu, details,figure, figcaption {
  display: block;
}
li { 
  list-style: none;
}
a { 
  text-decoration: none;
<<<<<<< HEAD
  color: #000;
=======
>>>>>>> 92db50fe19709d7b82f5517ffacd8416648d1c89
}
img {
  border: 0;
  vertical-align: middle;
}