/*
  믹스인 : 함수와 비슷, 반복적으로 재사용할 css스타일 그룹 선언
*/
//mixin 스타일 정의
@mixin box-style() {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightpink;
  color: mediumvioletred;
}

//mixin 호출
.b1 {
  @include box-style();
}
