/*
  변수는 스타일 시트에서 반복(재사용)할 정보를 저장하는 방법
  - $ 기호 사용
  - 변수 이름은 직관적인 이름 권장
  - 영문, 숫자, 특수문자는 '-', '_' 만 포함
  - 갯수제한 없음, 가독성을 고려해 사용, 남용X
*/

$main-color: lightcoral; //전역변수
$secon-color: cornflowerblue;
$white-color: white;
$basic-size: 90px;

button {
  margin: 20px;
  border: none;
  border-radius: 10px;

  &:nth-child(1) {
    color: $white-color;
    background: $main-color;
    width: $basic-size;
  }
  &:nth-child(2) {
    color: $white-color;
    background: $secon-color;
    width: $basic-size * 3;
  }
  &:nth-child(3) {
    color: $white-color;
    background: darkcyan;
    width: $basic-size * 2;
  }
}

p {
  &:nth-of-type(1) {
    color: crimson;
  }
  &:nth-of-type(2) {
    color: cornflowerblue;
  }
  &:nth-of-type(3) {
    height: $basic-size * 0.7;
    background: burlywood;
    color: darkcyan;
  }
}
