//중첩 : 한줄짜리 주석(javascript등 프로그래밍언어에서 주로 쓰임) -css파일로 컴파일 후엔 안보임
.wrap {
  background: lightcyan;
  h1 {
    color: red;
  }
  p {
    color: cadetblue;
    span {
      //다중 중첩
      color: white;
      background: grey;
    }
  }
}

button {
  padding: 0.5em 1em;
  border: 1px solid #999;
  border-radius: 30px;
}
.btn1 {
  background: deeppink;

  &:hover {
    background: {
      color: crimson;
    }
  }
}
/* 
  & : 자신이 속한 상위 선택자
  font, text, background 등은 css 단축속성 : sass에서 중첩을 이용해 단축 속성의 하위 속성을 그룹화
*/

.btn2 {
  background: deepskyblue;
  &:hover {
    background: {
      color: cornflowerblue;
    }
    font: {
      size: 20px;
      family: "궁서체", serif;
    }
  }
}

/*
  sass style/style.scss:style/style.css : 한번만 컴파일
  sass --watch style/style.scss:style/style.css : 자동 컴파일
*/
