/*
  @content mixin 사용시 지정된 스타일 이외에도 별도로 스타일을 추가
*/

@mixin btn-style {
  @content;
  width: 100px;
  height: 50px;
  border: none;
}
@mixin btn-style2($hv-Bgcolor) {
  //필터링, 인자값 지정
  @content;
  width: 100px;
  height: 50px;
  border: none;
  &:hover {
    background-color: $hv-Bgcolor;
    color: white;
  }
}

.b1 {
  @include btn-style {
    background-color: coral;
    color: white;
  }
}
.b2 {
  @include btn-style2(black) {
    background-color: yellow;
  }
}
.b3 {
  @include btn-style();
}
