@charset "UTF-8";
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "S-CoreDream-3Light";
}

html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 350px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.nav {
  height: 100%;
  width: 70px;
  border-radius: 0;
  position: fixed;
  background-color: #eeeeee;
  padding-top: 50px;
}
.nav .nav_list .nav_btn {
  padding: 14px 0;
  text-align: center;
  color: #9e9e9e;
}
.nav .nav_list .nav_btn.active {
  color: black;
}

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 50px 20px 20px;
  z-index: 10;
}
.header .header_title {
  font-size: 1.4em;
}
.header .header_menu span {
  height: 36px;
  width: 36px;
  border-radius: 18px;
  display: inline-block;
  text-align: center;
  line-height: 36px;
  cursor: pointer;
  transition: all 0.5s;
}
.header .header_menu span:hover {
  background-color: #f8f8f8;
}

.preview {
  position: relative;
  display: flex;
  padding: 16px;
}
.preview .preview_column .preview_pic {
  height: 50px;
  width: 50px;
  border-radius: 20px;
  background-color: #1736ff;
  margin-right: 16px;
}
.preview .preview_column .preview_nick {
  width: 50vw;
  font-size: 0.85em;
  margin-bottom: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.preview .preview_column .preview_msg {
  width: 50vw;
  font-size: 0.82em;
  color: #777;
  display: -webkit-box;
  word-break: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.preview .preview_column .preview_time {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 0.8em;
  color: #9e9e9e;
}

.bubble {
  height: auto;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 0.85em;
  padding: 10px;
}
.bubble::before {
  height: 0;
  width: 0;
  border-radius: 0;
  position: absolute;
  content: "";
  display: block;
  top: 10px;
  left: -10px;
  border-bottom: 12px solid transparent;
  border-right: 10px solid white;
}

.login_container {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
}

.login {
  height: 100%;
  min-height: 460px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.login .login_logo {
  height: 100px;
  margin-bottom: 20px;
  background-image: url("../img/logo.png"); /*컴파일 된 이후의 경로 체크!*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}
.login .login_account {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.2);
  text-align: center;
}
.login .login_account a {
  color: #333333;
}

.login_form {
  width: 240px;
  margin: 0 auto 80px;
  font-size: 0.8em;
}
.login_form input {
  width: 240px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.login_form input:focus {
  outline: none;
}
.login_form input::placeholder {
  color: #9e9e9e;
}
.login_form .login_form_id {
  border-radius: 3px 3px 0 0;
  border-bottom: none;
  padding-left: 10px;
}
.login_form .login_form_pw {
  border-radius: 0 0 3px 3px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-left: 10px;
  margin-bottom: 7px;
}
.login_form .login_form_btn {
  background-color: #0040ff;
  color: white;
  border-radius: 3px;
  border: none;
}
.login_form .login_form_btn:hover {
  background-color: white;
  color: #0040ff;
}
.login_form .login_form_check {
  width: 15px;
  vertical-align: middle;
}
.login_form label {
  color: #333333;
}

.chats {
  margin-left: 70px;
}

a.preview_wrap {
  color: #000;
}
a.preview_wrap:first-child > .preview {
  background-color: #fafafa;
}
a.preview_wrap .preview:hover {
  background-color: #f8f8f8;
}

.chat {
  height: 100%;
  width: 100%;
  border-radius: 0;
}

.chat_screen {
  height: calc(100% - 140px);
  overflow: auto;
  background-color: aliceblue;
}
.chat_screen .chat_screen_bar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.chat_screen .chat_screen_bar .chat_nick {
  font-size: 1em;
}

.bubble_container {
  padding-top: 20px;
}

.chat_user {
  background-color: aliceblue;
}

.bubble_wrap {
  display: flex;
}
.bubble_wrap .bubble_content {
  width: 80%;
  max-width: 700px;
}
.bubble_wrap .bubble_time {
  font-size: 0.8em;
  display: flex;
  align-items: flex-end;
  margin-left: 6px;
}

.chat_form {
  background-color: white;
  height: 140px;
  padding: 10px;
}
.chat_form .chat_form_msg {
  height: 70px;
  width: 100%;
  border-radius: 0;
  resize: none;
  border: none;
  outline: none;
  margin-bottom: 5px;
}
.chat_form .chat_form_util {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat_form .chat_form_util .chat_form_util_plugin i {
  margin-right: 8px;
  color: #9e9e9e;
  line-height: 35px;
}
.chat_form .chat_form_util .chat_form_util_submit .chat_form_btn {
  height: 35px;
  width: 70px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
