.chat {
  @include set_box(100%);
}
.chat_screen {
  height: calc(100% - 140px);
  overflow: auto;
  background-color: aliceblue;
  .chat_screen_bar {
    position: sticky;
    top: 0;
    z-index: 10;

    .chat_nick {
      font-size: 1em;
    }
  }
}

.bubble_container {
  padding-top: 20px;
}

.chat_user {
  background-color: aliceblue;
}

.bubble_wrap {
  display: flex;
  .bubble_content {
    width: 80%;
    max-width: 700px;
  }
  .bubble_time {
    font-size: 0.8em;
    display: flex;
    align-items: flex-end;
    margin-left: 6px;
  }
}

.chat_form {
  background-color: white;
  height: 140px;
  padding: 10px;
  .chat_form_msg {
    @include set_box(70px, 100%);
    resize: none;
    border: none;
    outline: none;
    margin-bottom: 5px;
  }
  .chat_form_util {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .chat_form_util_plugin {
      i {
        margin-right: 8px;
        color: $gray2;
        line-height: 35px;
      }
    }
    .chat_form_util_submit {
      .chat_form_btn {
        @include set_box(35px, 70px, 5px);
        border: none;
        cursor: pointer;
      }
    }
  }
}
