.preview {
  position: relative;
  display: flex;
  padding: 16px;
  .preview_column {
    .preview_pic {
      @include set_box(50px, 50px, 20px);
      background-color: $main-color;
      margin-right: 16px;
    }
    .preview_nick {
      width: 50vw;
      font-size: 0.85em;
      margin-bottom: 6px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .preview_msg {
      width: 50vw;
      font-size: 0.82em;
      color: #777;
      display: -webkit-box;
      word-break: break-word;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .preview_time {
      position: absolute;
      top: 16px;
      right: 16px;
      font-size: 0.8em;
      color: $gray2;
    }
  }
}

.bubble {
  @include set_box(auto, 100%, 5px);
  background-color: white;
  position: relative;
  box-shadow: 2px 2px 5px $opacityBlack;
  font-size: 0.85em;
  padding: 10px;
  &::before {
    @include set_box(0, 0);
    position: absolute;
    content: "";
    display: block;
    top: 10px;
    left: -10px;
    border-bottom: 12px solid transparent;
    border-right: 10px solid white;
  }
}
