.nav {
  @include set_box(100%, 70px);
  position: fixed;
  background-color: $bg-color;
  padding-top: 50px;

  .nav_list {
    .nav_btn {
      padding: 14px 0;
      text-align: center;
      color: $gray2;

      &.active {
        color: black;
      }
    }
  }
}

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 50px 20px 20px;
  z-index: 10;
  .header_title {
    font-size: 1.4em;
  }
  .header_menu {
    span {
      @include set_box(36px, 36px, 18px);
      display: inline-block;
      text-align: center;
      line-height: 36px;
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        background-color: $gray3;
      }
    }
  }
}
