@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "S-CoreDream-3Light";
}
html {
  height: 100%;
}
body {
  height: 100%;
  min-height: 350px;
}
a {
  text-decoration: none;
}
